<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Cuestionario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container-custionario" [ngClass]="(msjOk === null) ? '' : 'successfull'" style="padding-top: 15px">
    <div *ngIf="msjOk !== null" style="text-align: center;">
      <p>{{ msjOk }}</p>
      <button class="btn-go-back" (click)="salir()" >Salir</button>
    </div>
    <form [formGroup]="form" (ngSubmit)="saveData()" *ngIf="msjOk === null">
      <p style="text-align: center; padding: 0 10px;">
        REPORTE DIARO DE CONDICIONES DE SALUD (PGH-03-R06)
      </p>
      <p style="text-align: center">Marque SÍ, en caso de tener alguno de estos Síntomas.</p>

      <div class="form-group">
        <ion-item lines="full" class="form-control no-lines">
          <div class="content-cuestion">
            <p>Su temperatura el dia de hoy ha sido igual o mayor a 37.5c ?</p>
          </div>
          <br>
        </ion-item>
        <ion-item lines="full" class="form-control">
          <div class="content-response">
            <span>Si</span>
            <input type="radio" value='si' formControlName="temperatura_mayor">
            <span>No</span>
            <input type="radio" value='no' formControlName="temperatura_mayor">
          </div>
        </ion-item>
      </div>

      <div class="form-group">
        <ion-item lines="full" class="form-control no-lines">
          <div class="content-cuestion">
            <p>Tos seca ?</p>
          </div>
          <br>
        </ion-item>
        <ion-item lines="full" class="form-control">
          <div class="content-response">
            <span>Si</span>
            <input type="radio" value='si' formControlName="tos_seca">
            <span>No</span>
            <input type="radio" value='no' formControlName="tos_seca">
          </div>
        </ion-item>
      </div>

      <div class="form-group">
        <ion-item lines="full" class="form-control no-lines">
          <div class="content-cuestion">
            <p>Dolor de garganta</p>
          </div>
          <br>
        </ion-item>
        <ion-item lines="full" class="form-control">
          <div class="content-response">
            <span>Si</span>
            <input type="radio" value='si' formControlName="dolor_de_garganta">
            <span>No</span>
            <input type="radio" value='no' formControlName="dolor_de_garganta">
          </div>
        </ion-item>
      </div>

      <div class="form-group">
        <ion-item lines="full" class="form-control no-lines">
          <div class="content-cuestion">
            <p>Secreción nasal</p>
          </div>
          <br>
        </ion-item>
        <ion-item lines="full" class="form-control">
          <div class="content-response">
            <span>Si</span>
            <input type="radio" value='si' formControlName="secresion_nasal">
            <span>No</span>
            <input type="radio" value='no' formControlName="secresion_nasal">
          </div>
        </ion-item>
      </div>

      <div class="form-group">
        <ion-item lines="full" class="form-control no-lines">
          <div class="content-cuestion">
            <p>Congestión nasal</p>
          </div>
          <br>
        </ion-item>
        <ion-item lines="full" class="form-control">
          <div class="content-response">
            <span>Si</span>
            <input type="radio" value='si' formControlName="congestion_nasal">
            <span>No</span>
            <input type="radio" value='no' formControlName="congestion_nasal">
          </div>
        </ion-item>
      </div>

      <div class="form-group">
        <ion-item lines="full" class="form-control no-lines">
          <div class="content-cuestion">
            <p>Malestar general</p>
          </div>
          <br>
        </ion-item>
        <ion-item lines="full" class="form-control">
          <div class="content-response">
            <span>Si</span>
            <input type="radio" value='si' formControlName="malestar_general">
            <span>No</span>
            <input type="radio" value='no' formControlName="malestar_general">
          </div>
        </ion-item>
      </div>

      <div class="form-group">
        <ion-item lines="full" class="form-control no-lines">
          <div class="content-cuestion">
            <p>Dificultad para respirar</p>
          </div>
          <br>
        </ion-item>
        <ion-item lines="full" class="form-control">
          <div class="content-response">
            <span>Si</span>
            <input type="radio" value='si' formControlName="dificultad_al_respirar">
            <span>No</span>
            <input type="radio" value='no' formControlName="dificultad_al_respirar">
          </div>
        </ion-item>
      </div>

      <div class="form-group">
        <ion-item lines="full" class="form-control no-lines">
          <div class="content-cuestion">
            <p>Perdida de olfato</p>
          </div>
          <br>
        </ion-item>
        <ion-item lines="full" class="form-control">
          <div class="content-response">
            <span>Si</span>
            <input type="radio" value='si' formControlName="perdida_del_olfato">
            <span>No</span>
            <input type="radio" value='no' formControlName="perdida_del_olfato">
          </div>
        </ion-item>
      </div>

      <div class="form-group">
        <ion-item lines="full" class="form-control no-lines">
          <div class="content-cuestion">
            <p>Perdida de gusto</p>
          </div>
          <br>
        </ion-item>
        <ion-item lines="full" class="form-control">
          <div class="content-response">
            <span>Si</span>
            <input type="radio" value='si' formControlName="perdida_del_gusto">
            <span>No</span>
            <input type="radio" value='no' formControlName="perdida_del_gusto">
          </div>
        </ion-item>
      </div>

      <div class="form-group">
        <ion-item lines="full" class="form-control no-lines">
          <div class="content-cuestion">
            <p>Dolor muscular</p>
          </div>
          <br>
        </ion-item>
        <ion-item lines="full" class="form-control">
          <div class="content-response">
            <span>Si</span>
            <input type="radio" value='si' formControlName="dolor_muscular">
            <span>No</span>
            <input type="radio" value='no' formControlName="dolor_muscular">
          </div>
        </ion-item>
      </div>

      <div class="form-group">
        <ion-item lines="full" class="form-control no-lines">
          <div class="content-cuestion">
            <p>Dolor de cabeza</p>
          </div>
          <br>
        </ion-item>
        <ion-item lines="full" class="form-control">
          <div class="content-response">
            <span>Si</span>
            <input type="radio" value='si' formControlName="dolor_de_cabeza">
            <span>No</span>
            <input type="radio" value='no' formControlName="dolor_de_cabeza">
          </div>
        </ion-item>
      </div>

      <div class="form-group">
        <ion-item lines="full" class="form-control no-lines">
          <div class="content-cuestion">
            <p>Nauseas</p>
          </div>
          <br>
        </ion-item>
        <ion-item lines="full" class="form-control">
          <div class="content-response">
            <span>Si</span>
            <input type="radio" value='si' formControlName="nauseas">
            <span>No</span>
            <input type="radio" value='no' formControlName="nauseas">
          </div>
        </ion-item>
      </div>

      <div class="form-group">
        <ion-item lines="full" class="form-control no-lines">
          <div class="content-cuestion">
            <p>Vómito</p>
          </div>
          <br>
        </ion-item>
        <ion-item lines="full" class="form-control">
          <div class="content-response">
            <span>Si</span>
            <input type="radio" value='si' formControlName="vomito">
            <span>No</span>
            <input type="radio" value='no' formControlName="vomito">
          </div>
        </ion-item>
      </div>

      <div class="form-group">
        <ion-item lines="full" class="form-control no-lines">
          <div class="content-cuestion">
            <p>Diarrea</p>
          </div>
          <br>
        </ion-item>
        <ion-item lines="full" class="form-control">
          <div class="content-response">
            <span>Si</span>
            <input type="radio" value='si' formControlName="diarrea">
            <span>No</span>
            <input type="radio" value='no' formControlName="diarrea">
          </div>
        </ion-item>
      </div>

      <div class="form-group">
        <ion-item lines="full" class="form-control no-lines">
          <div class="content-cuestion">
            <p>Dolor abdominal inusual</p>
          </div>
          <br>
        </ion-item>
        <ion-item lines="full" class="form-control">
          <div class="content-response">
            <span>Si</span>
            <input type="radio" value='si' formControlName="dolor_abdominal_inusual">
            <span>No</span>
            <input type="radio" value='no' formControlName="dolor_abdominal_inusual">
          </div>
        </ion-item>
      </div>

      <div class="form-group">
        <ion-item lines="full" class="form-control no-lines">
          <div class="content-cuestion">
            <p>Ojos rojos</p>
          </div>
          <br>
        </ion-item>
        <ion-item lines="full" class="form-control">
          <div class="content-response">
            <span>Si</span>
            <input type="radio" value='si' formControlName="ojos_rojos">
            <span>No</span>
            <input type="radio" value='no' formControlName="ojos_rojos">
          </div>
        </ion-item>
      </div>

      <div class="form-group">
        <ion-item lines="full" class="form-control no-lines">
          <div class="content-cuestion">
            <p>Estornudos</p>
          </div>
          <br>
        </ion-item>
        <ion-item lines="full" class="form-control">
          <div class="content-response">
            <span>Si</span>
            <input type="radio" value='si' formControlName="estornudos">
            <span>No</span>
            <input type="radio" value='no' formControlName="estornudos">
          </div>
        </ion-item>
      </div>

      <div class="form-group">
        <ion-item lines="full" class="form-control no-lines">
          <div class="content-cuestion">
            <p>Brote,salpullido</p>
          </div>
          <br>
        </ion-item>
        <ion-item lines="full" class="form-control">
          <div class="content-response">
            <span>Si</span>
            <input type="radio" value='si' formControlName="brote_salpullido">
            <span>No</span>
            <input type="radio" value='no' formControlName="brote_salpullido">
          </div>
        </ion-item>
      </div>

      <div class="form-group">
        <ion-item lines="full" class="form-control no-lines">
          <div class="content-cuestion">
            <p>Ha tenido contacto en los últimos 10 dias o convive con alguna persona con COVID-19 positivo</p>
          </div>
          <br>
        </ion-item>
        <ion-item lines="full" class="form-control">
          <div class="content-response">
            <span>Si</span>
            <input type="radio" value='si' formControlName="contacto_con_persona_con_covid">
            <span>No</span>
            <input type="radio" value='no' formControlName="contacto_con_persona_con_covid">
          </div>
        </ion-item>
      </div>

      <div class="form-group">
        <ion-item lines="full" class="form-control no-lines">
          <div class="content-cuestion">
            <p>Ha sido diagnosticado con COVID – 19 o tiene sospecha de tenerlo</p>
          </div>
          <br>
        </ion-item>
        <ion-item lines="full" class="form-control">
          <div class="content-response">
            <span>Si</span>
            <input type="radio" value='si' formControlName="diagnosticado_con_covid_o_sospecha">
            <span>No</span>
            <input type="radio" value='no' formControlName="diagnosticado_con_covid_o_sospecha">
          </div>
        </ion-item>
      </div>

      <ion-row>
        <ion-col>
          <button class="btn-submit" [disabled]="!form.valid || sendingData" type="submit">Guardar</button>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-toolbar style="text-align: center">
            <img src="../../assets/img/logo-calidad.jpg" style="width: 50px" id="logo-icontec" alt="">
          </ion-toolbar>
        </ion-col>
      </ion-row>
    </form>
  </div>

</ion-content>
