ion-content{
  --background: #e74a3b;
  .container-custionario{
    margin: 15px;
    background: #fff;
    border-radius: 15px;
    form{
      legend{
        padding: 15px;
      }
      .form-control{
        font-size: 12px;
        .content-cuestion{
          width: 100%;
        }
        .content-response{
          width: 100%;
          text-align: center;
          display: flex;
          align-items: center;
          justify-content: end;
          input[type=radio]{
            margin: 10px;
          }
        }
      }
      .form-control.no-lines{
        --border-width: 0;
      }
      button:disabled{
        background: #e74a3b70;
      }
    }
  }
  .container-custionario.successfull{
    padding: 100px 30px;
  }
}
.btn-submit{
  background: #e74a3b;
  width: 100%;
  color: #fff;
  padding: 15px 0;
  border-radius: 30px;
  margin-top: 10px;
}
.btn-go-back{
  background: #3b66e7;
  color: #fff;
  padding: 15px 0;
  border-radius: 30px;
  width: 90%;
  margin-top: 20px;
}
