ion-content{
  --background: #e74a3b;
  .container-login{
    margin: 15px;
    background: #fff;
    border-radius: 15px;
    h4{
      text-align: center;
    }
    .cont-logo{
      text-align: center;
      #logo{
        width: 150px;
      }
    }
    form{
      padding: 15px;
      .form-control{
        border: 1px solid #d7d8da;
        border-radius: 30px;
        margin-top: 10px;
        font-size: 12px;
      }
      button:disabled{
        background: #e74a3b70;
      }
    }
  }
.btn-submit{
  background: #e74a3b;
  width: 100%;
  color: #fff;
  padding: 15px 0;
  border-radius: 30px;
  margin-top: 10px;
}
  .text-danger{
    color: red;
  }
  .text-success{
    color: #1d643b;
  }
  .container-msj{
    width: 100%;
    text-align: center;
    padding: 20px;
  }
}
