<ion-content>
  <div id="content-init">
    <br>
    <div class="container-login">
      <div class="cont-logo">
        <img src="../../assets/img/logo.png" id="logo" alt="">
      </div>
      <h4>Bienvenido a Cornorssate</h4>
      <br>
      <div class="container-msj">
        <small class="text-danger">{{ msjErrorLogin }}</small>
        <br>
<!--        <button class="btn-submit" *ngIf="msjOkLogin" (click)="goToHome()" type="submit">Ir al Inicio</button>-->
      </div>
      <form (ngSubmit)="login()" >
        <ion-item lines="full" class="form-control">
          <ion-input [(ngModel)]="form.document" (keyup)="validateDocument($event)" name="document" type="text" placeholder="Documento de identidad" required></ion-input>
          <small class="text-danger" *ngIf="!docValid && docValid !== ''">{{ messageDocErr }}</small>
        </ion-item>

        <ion-item lines="full" class="form-control">
          <ion-input [(ngModel)]="form.password" name="password" type="password" placeholder="Contraseña" required></ion-input>
        </ion-item>

        <ion-row>
          <ion-col>
            <button class="btn-submit" [disabled]="!docValid || form.password === '' || sendingData" type="submit">Iniciar Sesión</button>
          </ion-col>
        </ion-row>
      </form>
    </div>
  </div>
</ion-content>

