<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Cornorssate</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container" [ngClass]="(msjError !== null) ? 'notting' : ''">
    <span>Hola <strong>{{ name }}</strong></span>
    <br>
    <p>Estamos listos para el cuestionario !</p>
    <button class="btn-go-to-custions" [ngClass]="(msjError !== null) ? 'disabled' : ''"
            [disabled]="msjError !== null || sendingData" (click)="goToCuestions()">Iniciar ya!</button>
    <br>
    <div class="content-msj-error" *ngIf="msjError !== null">
      <p style="color: red">{{ msjError }}</p><br><br>
      <button class="btn-go-back" (click)="salir()">Salir</button>
    </div>
  </div>
</ion-content>

