#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 30%;
  transform: translateY(-50%);
  .btn-go-to-custions{
    background: #e74a3b;
    color: #fff;
    padding: 15px 0;
    border-radius: 30px;
    width: 90%;
    margin-top: 20px;
  }
  .btn-go-to-custions.disabled{
    background: #e74a3b70;
  }
  .btn-go-back{
    background: #3b66e7;
    color: #fff;
    padding: 15px 0;
    border-radius: 30px;
    width: 90%;
    margin-top: 20px;
  }
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}
.content-msj-error{
  padding: 15px;
  p{
    color: red;
  }
}
#container.notting {
  top: 45%;
}
